function dockershell() {
    docker run --rm -i -t --entrypoint=/bin/bash "$@"
}

function dockershellsh() {
    docker run --rm -i -t --entrypoint=/bin/sh "$@"
}

function dockershellhere() {
    dirname=${PWD##*/}
    docker run --rm -it --entrypoint=/bin/bash -v `pwd`:/${dirname} -w /${dirname} "$@"
}

function dockershellshhere() {
    docker run --rm -it --entrypoint=/bin/sh -v `pwd`:/${dirname} -w /${dirname} "$@"
}

function lazygit() {
    git add .
    git commit -m "$1"
    git push
}

function ipinfo() {
  local input=""
  if [[ -p /dev/stdin ]]; then
    input=$(cat -)
  else
    input="${@}"
  fi
  if [[ -z "$input" ]]; then
    input=""
  fi
  curl -s "ipinfo.io/${input}?token=${ipinfo_token}" | jq -r .
}