function dockershell() {
    docker run --rm -i -t --entrypoint=/bin/bash "$@"
}

function dockershellsh() {
    docker run --rm -i -t --entrypoint=/bin/sh "$@"
}

function dockershellhere() {
    dirname=${PWD##*/}
    docker run --rm -it --entrypoint=/bin/bash -v `pwd`:/${dirname} -w /${dirname} "$@"
}

function dockershellshhere() {
    docker run --rm -it --entrypoint=/bin/sh -v `pwd`:/${dirname} -w /${dirname} "$@"
}

function lazygit() {
    git add -A
    git commit -m "$1"
    git push
}

function ipinfo() {

  local input=""
  if [[ -p /dev/stdin ]]; then
    input=$(cat -)
  else
    input="${@}"
  fi
  if [[ -z "$input" ]]; then
    input=""
  fi
  local token=$(get_password ipinfo)
  curl -s "ipinfo.io/${input}?token=${token}" | jq -r .
}

function get_secret {
  bw get item "$1" --session "$BW_SESSION"
}

function get_password {
  get_secret "$1" | jq -r ".login.password"
}